@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.btn {
    font-size: 18;
    padding: 10;
    margin: 5;
}

.input {
    padding: 10;
    margin: 5;
}

.list-group-item {
    padding: 10;
    background-color: #f8f9fa;
    border-bottom-width: 1;
    border-bottom-color: #dee2e6;
}